<div class="view page">
  <div class="seal"></div>
  <div class="title">欢迎，{{ user.name }}</div>
  <div class="subtitle">通知</div>
  <div class="notif" v-for="notif of notifs">
    <div class="notif-title">{{ notif.title }}</div>
    <div class="notif-content" v-html="md(notif.content)"></div>
  </div>
  <div class="hint" v-if="notifs.length === 0">暂无</div>

  <div v-if="user && user.isReviewer">
    <div class="subtitle">面试列表</div>
    <router-link tag="div" :to="{ name: 'review', params: { id: e._id } }" class="review-entry" v-for="e of reviews">
      <div class="name">{{ e.name }}</div>
      <div v-for="(r, i) of e.rounds">
        <div class="hint" style="margin-top: 5px" v-if="e.rounds.length > 1"># {{ i+1 }}</div>

        <div class="status" v-if="!r.questions">学测题目准备中...</div>
        <div class="status" v-if="r.questions && !r.answers">学测题目未作答</div>
        <div class="status" v-if="r.answers">学测题目已完成, {{ STATUS_MAP[r.result] }}</div>

        <div class="hint" style="margin-top: 5px">{{ r.notes }}</div>
      </div>
    </router-link>
    <div class="hint" v-if="reviews.length === 0">暂无</div>
  </div>

  <div v-if="user && !user.isReviewer && user.rounds">
    <div class="subtitle">面试列表</div>
    <router-link tag="div" :to="{ name: 'answer', params: { iter: user.rounds.length - i - 1 } }" class="review-entry" v-for="(e, i) of user.rounds.slice().reverse()">
      <div class="name">第 {{ user.rounds.length - i }} 轮</div>

      <div class="status" v-if="!e.questions">学测题目准备中...</div>
      <div class="status" v-if="e.questions && !e.answers">学测题目未作答</div>
      <div class="status" v-if="e.answers">学测题目已完成, {{ STATUS_MAP[e.result] }}</div>

      <br><div class="hint">面试官</div>
      <div class="reviewer" v-for="r of e.reviewers" @click.stop style="cursor: default">
        {{ r.name }} <small>{{ r.email }}</small> <small>{{ r.phone }}</small>
      </div>
    </router-link>
    <div class="hint" v-if="user.rounds.length === 0">暂无</div>
  </div>

  <div class="subtitle">修改密码</div>
  <div class="input-hint">原密码</div>
  <input v-model="oldpass" type="password">
  <div class="input-hint">新密码</div>
  <input v-model="newpass" type="password">
  <button @click="updatePass()">修改密码</button>
</div>
