<div class="view page">
  <div class="seal"></div>
  <div class="title">欢迎，{{ user.name }}</div>
  <div class="hint">当前没有新消息，请关注邮件通知，了解您的学测、面试状态更新</div>
  <div class="select primary-action">
    <button @click="$router.push({ name: 'info' })">查看个人信息</button>
    <button @click="$router.push({ name: 'list' })" v-if="user.isAdmin">注册列表</button>
    <button @click="logout()">登出</button>
  </div>

  <div class="subtitle">修改密码</div>
  <div class="input-hint">原密码</div>
  <input v-model="oldpass" type="password">
  <div class="input-hint">新密码</div>
  <input v-model="newpass" type="password">
  <button @click="updatePass()">修改密码</button>
</div>
