<div class="view">
  <div class="seal"></div>
  <div class="questions">
    <div class="questions-list">
      <div class="filter">
        <input class="expand" v-model="filter" placeholder="过滤">
        <i class="material-icons"
          @click="filterAssigned = !filterAssigned"
          :style="{ opacity: filterAssigned ? .7 : .38 }">assignment_late</i>
        <i class="material-icons"
          @click="filterInfo = !filterInfo"
          :style="{ opacity: filterInfo ? .7 : .38 }">edit</i>
      </div>
      <div class="question-person" v-for="l of filtered" @click="select(l)" :class="{ selected: selected === l }" :key="l._id">
        <div class="question-person-name">{{ l.name }}</div>
        <div class="question-person-count">{{ l.questions.filter(e => e.answer).length }} / {{ l.questions.length }}</div>
      </div>
    </div>
    <div class="questions-content" v-if="selected">
      <div class="title">分配学测 <small>{{ selected.name }}</small></div>
      <button @click="settingQuestions = true">编辑题目列表</button>
      <button @click="$router.push({ name: 'info', query: { admin: true, _id: selected._id, name: selected.name } })">查看个人信息</button>

      <div class="subtitle narrow-margin">已分配学测</div>
      <div class="question" v-for="(q, i) of selected.questions">
        <div class="question-line">{{ q.question }} <i class="material-icons" @click="deleteQuestion(i)">delete</i><span class="hint" v-if="pendingDel === i"> 确认删除?</span></div>
        <div class="question-answer" :class="{ unanswered: !q.answer }">{{ q.answer || '未回答' }}</div>
      </div>
      <div v-if="selected.questions.length === 0" class="hint">空</div>
      <div class="subtitle narrow-margin">添加</div>
      <input v-model="questionFilter" placeholder="过滤">
      <div @click="addQuestion(q)" class="question-option" v-for="q of pendingQuestions">
        {{ q }}
      </div>
    </div>
  </div>
  <transition name="fade">
    <div class="view backdrop centering" key="questions" v-if="settingQuestions" @click="settingQuestions = false">
      <div class="backdrop-wrapper">
        <div class="form larger" @click.stop>
          <div class="block opaque">
            <div class="seal"></div>
            <div class="form-heading">题目列表</div>
            <div class="question-input" v-for="(q, i) of questions">
              <i class="material-icons question-input-action" @click="deleteLine(i)">close</i>
              <textarea v-model="questions[i]" @blur="checkEmpty()" ref="questionInputs"></textarea>
            </div>
            <div class="question-input">
              <i class="material-icons question-input-action">add</i>
              <textarea @focus="pushNew()"></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
  </transition>
</div>
