<div class="view centering">
  <div class="form">
    <div class="block opaque">
      <div class="seal"></div>
      <div class="form-heading">注册</div>
      <div class="input-hint">邮箱</div>
      <input v-model="email" @keydown.enter="register()">
      <div class="input-hint">姓名</div>
      <input v-model="name" @keydown.enter="register()">
      <div class="input-hint">手机</div>
      <input v-model="phone" @keydown.enter="register()">
      <div class="input-hint">学校</div>
      <input v-model="school" @keydown.enter="register()" placeholder="请填写全称">
      <div class="button-row">
        <button @click="register()">注册</button>
        <button @click="login()">登录</button>
      </div>
    </div>
    <div class="form-error" :class="{ shown: error === 'EMPTY' }">亲爱的，把信息填全啊</div>
    <div class="form-error" :class="{ shown: error === 'DUP' }">已经有人用这个邮箱注册过啦</div>
    <div class="form-error" :class="{ shown: error === 'HANDLING' }">处理中...</div>
  </div>
</div>
