<div class="view page" v-if="data">
  <div class="seal"></div>
  <div class="title">面试详情 <small>{{ data.name }}</small>
    <div class="hint">{{ data.school }}</div>
    <div class="hint">{{ data.email }}</div>
    <div class="hint">{{ data.phone }}</div>
  </div>

  <button v-for="r of data.rounds.length" @click="roundPtr = r-1" style="margin-right: 5px;" :class="{ selected: roundPtr === r-1 }">第 {{ r }} 轮</button>
  <br><br>

  <button v-for="(r, k) of STATUS_MAP" :disabled="!privileged" @click="round.result = k" style="margin-right: 5px;" :class="{ selected: round.result === k }">{{ r }}</button>
  <br>
  <button class="primary" :disabled="!privileged" @click="updateField('result')">更新</button>

  <div class="input-hint">面试官笔记</div>
  <textarea v-model="round.notes" :disabled="!privileged"></textarea>
  <button @click="updateField('notes')" v-if="privileged">更新</button>

  <div class="subtitle narrow-margin">学测题目</div>
  <div v-for="(q, id) in round.questions">
    <div class="input-hint">{{ id+1 }}</div>
    <button @click="round.questions.splice(id, 1)">删除</button><br><br>
    <textarea v-model="round.questions[id]" :disabled="!privileged"></textarea>
  </div>
  <button @click="addQuestion()" v-if="privileged">添加</button>
  <button @click="updateField('questions')" v-if="privileged">更新</button>

  <div class="subtitle narrow-margin">回答</div>
  <div v-if="round.answers === null">尚未作答</div>
  <div v-for="(a, id) in round.answers" v-else>
    <div class="input-hint">{{ id + 1 }}</div>
    <p class="answer">{{ a }}</p>
  </div>

  <div class="subtitle">个人信息</div>
  <info v-model="data.info" :ready="true"></info>
</div>
