<div class="view">
  <div class="seal"></div>
  <div class="questions">
    <div class="questions-list">
      <div class="filter">
        <input class="expand" v-model="filter" placeholder="过滤">
        <i class="material-icons"
          @click="filterUrgent = !filterUrgent"
          :style="{ opacity: filterUrgent ? .7 : .38 }">assignment_late</i>
        <i class="material-icons"
          @click="filterInfo = !filterInfo"
          :style="{ opacity: filterInfo ? .7 : .38 }">edit</i>
      </div>
      <div class="question-person" v-for="l of filtered" @click="select(l)" :class="{ selected: selected === l }" :key="l._id">
        <div class="question-person-name">{{ l.name }}</div>
        <div class="question-person-count"
          v-if="!l.isReviewer && l.rounds && l.rounds.length > 0"
          :class="{ urgent: isUrgent(l) }">{{ STATUS_MAP[lastStatus(l)] }}</div>
        <div class="question-person-count urgent"
           v-if="!l.isReviewer && (!l.rounds || l.rounds.length === 0)">未分配</div>
        <div class="question-person-count"
           v-if="l.isReviewer">面试官</div>
      </div>
    </div>
    <div class="questions-content" v-if="selected">
      <div class="title">管理面试 <small>{{ selected.name }}</small></div>
      <button @click="$router.push({ name: 'info', query: { admin: true, _id: selected._id, name: selected.name } })">查看个人信息</button>
      <div v-if="!selected.isReviewer">
        <p>
          <div class="hint">共 {{ selected.rounds ? selected.rounds.length : 0 }} 轮</div>
        </p>
        <button @click="showAddReview()">添加面试</button>
        <div v-for="(r, i) of selected.rounds">
          <div class="subtitle narrow-margin"># 第 {{ i + 1 }} 轮</div>
          <div>面试官: <strong>{{ names(r.reviewers) }}</strong></div>
          <button v-for="(t, k) of STATUS_MAP" @click="r.result = k" style="margin-right: 5px;" :class="{ selected: r.result === k }">{{ t }}</button>
          <br>
          <button class="primary" @click="updateField(r, i, 'result')">更新</button>
          <div class="input-hint">面试官笔记</div>
          <textarea v-model="r.notes"></textarea>
          <button @click="updateField(r, i, 'notes')">更新</button>
          <div class="subtitle narrow-margin">题目</div>
          <div v-for="(q, id) in r.questions">
            <div class="input-hint">{{ id + 1 }}</div>
            <button @click="r.questions.splice(id, 1)">删除</button><br><br>
            <textarea v-model="r.questions[id]"></textarea>
          </div>
          <button @click="addQuestion(r)">添加</button>
          <button @click="updateField(r, i, 'questions')">更新</button>
          <div class="subtitle narrow-margin">回答</div>
          <div v-if="r.answers === null">尚未作答</div>
          <div v-for="(a, id) in r.answers" v-else>
            <div class="input-hint">{{ id + 1 }}</div>
            <p class="answer">{{ a }}</p>
          </div>
        </div>
      </div>
      <transition name="fade">
        <div class="view backdrop centering" key="reviewer" v-if="addReview" @click="addReview = false">
          <div class="backdrop-wrapper">
            <div class="form larger" @click.stop>
              <div class="block opaque">
                <div class="seal"></div>
                <div class="form-heading">请从以下面试官中选择</div>
                <div class="hint">您可以从这一页面设置用户的身份</div>
                <div class="hint" v-if="selectedReviewers.length === 0">请选择至少一个面试官</div>
                <div class="hint" v-if="selectedReviewers.length > 0">已选择: {{ reviewerNames }}</div>
                <button @click="addRound" class="primary" :disabled="selectedReviewers.length === 0">提交</button>
                <hr>
                <div v-for="p of reviewers">
                  <button @click="toggleReviewer(p)" class="selector" :class="{ primary: reviewerSet[p._id], selected: reviewerSet[p._id] }">{{ p.name }}</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </transition>
    </div>
  </div>
</div>
