<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>LimeGlass</title>
    <link rel="stylesheet" href="/style.css">
    <script src="https://cdn.bootcss.com/babel-polyfill/7.0.0-beta.3/polyfill.min.js"></script>
    <script src="https://cdn.bootcss.com/vue/2.5.13/vue.js"></script>
    <script src="https://cdn.bootcss.com/vue-router/3.0.1/vue-router.min.js"></script>
    <script src="https://cdn.bootcss.com/markdown-it/8.4.1/markdown-it.min.js"></script>
    <script src="https://cdn.bootcss.com/require.js/2.3.5/require.min.js"></script>
    <link href="https://fonts.proxy.ustclug.org/icon?family=Material+Icons" rel="stylesheet">
    <script>
    function _init() {
      require(['/script.js'], function(init) {
        init.default();
      });
    }
    </script>
  </head>
  <body onload="_init()">
    <div id="app">
      <div class="navbar" :class="{ shown: !!user, floating: floatingNav || $route.meta.fullscreen }">
        <div class="mini-logo">
          <router-link :to="{ name: 'home' }" tag="img" src="/lime.png"></router-link>
        </div>
        <router-link tag="div" class="nav" :to="{ name: 'info' }">查看个人信息</router-link>
        <router-link tag="div" class="nav" :to="{ name: 'list' }" v-if="user && user.isAdmin && !user.partialAdmin">注册列表</router-link>
        <router-link tag="div" class="nav" :to="{ name: 'reviewers' }" v-if="user && user.isAdmin">管理面试 &amp; 学测</router-link>
        <router-link tag="div" class="nav" :to="{ name: 'send' }" v-if="user && user.isAdmin">发送通知</router-link>
        <router-link tag="div" class="nav" @click="logout()" :to="{}">登出</router-link>
      </div>

      <transition mode="out-in" name="fade">
        <router-view
          :user="user">
        </router-view>
      </transition>
    </div>
  </body>
</html>
