body {
  margin: 0;
  padding: 0;
  color: rgba(0,0,0,.87);
}

#app {
  position: relative;
  min-height: 100vh;
}

.view.centering {
  height: 100vh;
  width: 100vw;

  display: flex;
  align-items: center;
  justify-content: center;
}

.view.page {
  margin: 0 auto;
  padding: 40px;
  padding-left: 50px;
  max-width: 700px;
}

.seal {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 15px;

  background: linear-gradient(45deg,
                  rgba(0,0,0,.2) 0%, rgba(0,0,0,.2) 25%,
                  rgba(0,0,0,.4) 25%, rgba(0,0,0,.4) 50%,
                  rgba(0,0,0,.2) 50%, rgba(0,0,0,.2) 75%,
                  rgba(0,0,0,.4) 75%, rgba(0,0,0,.4) 100%,
                  rgba(0,0,0,.2) 100%);
  background-size: 30px 30px;
}

.block {
  border: rgba(0,0,0,.12) 1px solid;
  padding: 30px 40px;
  padding-left: 50px;
  position: relative;
  box-shadow: rgba(0,0,0,.12) 0 2px 6px;
  border-radius: 6px;
  overflow: hidden;

  font-size: 16px;
  line-height: 20px;
}

.block.opaque {
  background: white;
}

.form {
  position: relative;
  width: 360px;
}

.form-heading {
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 12px;
}

input {
  display: block;
  width: 100%;
  border: 0;
  outline: 0;
  padding: 5px 0;
  margin-bottom: 10px;
  border-bottom: rgba(0,0,0,.12) 1px solid;

  font-size: 16px;
  line-height: 20px;
}

textarea {
  resize: none;
  width: 100%;
  display: block;
  border: rgba(0,0,0,.12) 1px solid;
  outline: 0;
  padding: 15px;
  border-radius: 6px;
  height: 160px;
  margin-bottom: 10px;

  font-size: 16px;
  line-height: 20px;
}

input:disabled, textarea:disabled {
  border-bottom: 0;
  background: transparent;
}

input::placeholder, textarea::placeholder {
  color: rgba(0,0,0,.38);
}

.input-hint {
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 4px;
  margin-top: 10px;

  color: rgba(0,0,0,.54);
}

.input-hint + input {
  padding-top: 0;
}

button {
  margin-top: 10px;
  background: 0;
  border: 0;
  padding: 0;
  outline: 0;
  cursor: pointer;

  opacity: .5;
  font-size: 16px;

  transition: opacity .2s ease;

  border-left: rgba(0,0,0,.3) 5px solid;
  background: rgba(0,0,0,.12);
  padding: 5px 10px;
  color: rgba(0,0,0,.87);
}

button.primary {
  border-left: rgba(54,127,26,.4) 5px solid;
  background: rgba(54,127,26,.18);
  color: rgba(20,48,10,.87);
}

button:not(:disabled):hover {
  opacity: 1;
}

button:not(:disabled):focus {
  opacity: 1;
}

button.selected {
  opacity: 1;
}

button:disabled {
  cursor: default;
}

.button-row {
  display: flex;
  justify-content: space-between;
}

.text-link {
  text-decoration: underline;
  cursor: pointer;
}

.form-error {
  position: absolute;
  left: 15px;
  right: 15px;
  box-sizing: border-box;

  padding: 15px 20px;
  border: rgba(0,0,0,.12) 1px solid;
  box-shadow: rgba(0,0,0,.12) 0 2px 6px;
  border-radius: 0 0 5px 5px;

  transform: translateY(calc(-100% - 10px));
  transition: transform .2s ease-in;
}

.form-error.shown {
  transform: translateY(-1px);
  transition: transform .2s ease-out;
}

.form .block {
  z-index: 1;
}

.title {
  font-size: 40px;
  line-height: 52px;
  margin-bottom: 10px;
}

.group {
  margin: 40px 0;
}

.hint {
  font-size: 12px;
  color: rgba(0,0,0,.38);
}

.subtitle {
  font-size: 20px;
  margin: 80px 0 20px 0;
}

.subtitle.narrow-margin {
  margin: 40px 0 20px 0;
}

.select button {
  display: block;
  margin-bottom: 10px;
}

li {
  margin: 10px 0;
}

.primary-action {
  margin-top: 20px;
}

table {
  width: 100%;
  border-spacing: 0;
  border: rgba(0,0,0,.12) 1px solid;
}

td, th {
  padding: 10px 15px;
  text-align: left;
  border-right: rgba(0,0,0,.12) 1px solid;
}

td:last-child, th:last-child {
  border-right: none;
}

tr:nth-child(2n+1) {
  background: rgba(0,0,0,.08);
}

small {
  font-size: 0.6em;
  color: rgba(0,0,0,.38);
}

.backdrop {
  background: rgba(0,0,0,.2);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;

  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
}

.backdrop-wrapper {
  max-height: 100vh;
  width: 100vw;
  justify-content: center;
  padding: 40px 0;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
}

.backdrop-wrapper > .form {
  margin: 0 auto;
}

.form.larger {
  width: 500px;
}

.question-input {
  display: flex;
  margin-bottom: 10px;
}

.question-input textarea {
  flex: 1;
  margin-bottom: 0;
  margin-left: 5px;
  border: 0;
  padding: 10px 15px;
  background: rgba(0,0,0,.06);
  border-radius: 0;
}

.question-input-action {
  font-size: 12px;
  color: rgba(0,0,0,.38);
  transition: color .2s ease;
  margin-top: 10px;
}

.question-input-action:not(.no-action) {
  cursor: pointer;
}

.question-input-action:not(.no-action):hover {
  color: rgba(0,0,0,.7);
}

.primary-table {
  margin-top: 20px;
}

.questions {
  display: flex;
  height: 100vh;
  box-sizing: border-box;
  padding-left: 15px;
}

.questions-list {
  width: 200px;
  box-shadow: rgba(0,0,0,.12) 2px 0 6px;
  overflow-y: auto;
  overflow-x: hidden;
}

.question-person {
  padding: 15px 20px;
  border-bottom: rgba(0,0,0,.12) 1px solid;
  cursor: pointer;
  background: transparent;
  transition: background .2s ease;
}

.question-person-name {
  font-size: 20px;
  line-height: 32px;
}

.question-person.selected {
  background: rgba(0,0,0,.06);
}

.questions-list .filter {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  border-bottom: rgba(0,0,0,.12) 1px solid;
}

.questions-list .filter input {
  margin-bottom: 0;
  border-bottom: none;
}

.questions-list .filter .material-icons {
  cursor: pointer;
  transition: opacity .2s ease;
  margin-left: 10px;
}

.questions-content {
  padding: 20px;
  flex: 1;
}

.question-option {
  cursor: pointer;
  opacity: .54;
  transition: opacity .2s ease;
  font-size: 16px;
  line-height: 28px;
}

.question-option:hover {
  opacity: .87;
}

.question {
  margin-bottom: 20px;
}

.question-line {
  font-size: 16px;
  line-height: 28px;
}

.question-line .material-icons {
  vertical-align: bottom;
  line-height: inherit;
  opacity: .38;
  transition: opacity .2s ease;
  cursor: pointer;
}

.question-line .material-icons:hover {
  opacity: .7;
}

.question-answer {
  font-size: 14px;
  color: rgba(0,0,0,.54);
}

.question-answer.unanswered {
  text-decoration: line-through;
}

.fade-enter-active {
  transition: opacity .5s ease-out;
}

.fade-leave-active {
  transition: opacity .5s ease-in;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

.fade-enter-to, .fade-leave {
  opacity: 1;
}
